markdown-element {
    display: block;
    margin-bottom: 200px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown p {
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 20px;

    border-left: 2px solid transparent;
}

.markdown h1,
.markdown h2 {
    max-width: 840px;
}

.markdown p {
    font-weight: 300;
    /*
        Material Color
        Deep Orange 500
    */
    border-left-color: #FF5722;
}

.markdown sliding-image {
    height: 250px;
    margin: auto;
}