#icons {
    margin-top: 0;

    transition: margin-top 0.2s linear;
}
@media (max-width: 1000px) {
    sticky-element[stuck] #icons {
        margin-top: -60px;
    }
}

@media (max-width: 500px) {
    #name {
        font-size:13vw;
    }

    #email {
        font-size: 7.35vw;
    }

    .markdown sliding-image {
        height: 150px;
    }

    #about-section {
        display: block;
    }

    #about-description {
        min-width: auto;
    }

    #menu {
        display: none;
    }
}