@media (max-width: 500px) {
    #name {
        font-size:13vw;
    }

    #email {
        font-size: 7.35vw;
    }

    .markdown sliding-image {
        height: 150px;
    }

    #about-section {
        display: block;
    }

    #about-description {
        min-width: auto;
    }
}