/*
    Screen scale transitions
    and scroll mitigation
*/
body {
    overflow-x: hidden;
}

#icons {
    margin-top: 0;
    transition: margin-right 0.2s ease;
}

#menu {
    transition: right 0.2s ease;
}

#project-container:after {
    transition: min-width 0.2s ease;
}

@media (max-width: 800px) {
    sticky-element[stuck] #icons {
        margin-right: -200px;
    }

    #menu {
        right: -200px;
    }

    #project-container:after {
        min-width: 0;
    }
}

@media (max-width: 500px) {
    #name {
        font-size:13vw;
    }

    #email {
        font-size: 7.35vw;
    }

    .markdown sliding-image {
        height: 150px;
    }

    #about-section {
        display: block;
    }

    #about-description {
        min-width: auto;
    }

    #menu {
        display: none;
    }
}